
.contact-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  z-index:2;
  padding-top: 100px;
}
.contact-container h2{
    font-size: 19px;
}
.contact-top{
box-sizing:border-box;
height:50%;
}
.main-contact-form{

  font-size:17px;
  display:flex;
  flex-direction: column;
  text-decoration: bold;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: black;
  width:80%;
  padding-top:100px;
}
.contact-box{
      box-sizing:content-box;
    margin-top: 70px;
    max-width: 75%;
    margin-left:10%;
    margin-right:10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    width:75%;
    height:100%;
    position: baseline;
    padding-top:100px;
}
.contact-box input{
  width:100%;
}
.contact-textarea{
  height:300px;
}
.contact-button{
      width: 80%;
    padding:5px;
    background-color: #a9b1ac;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
    z-index: 0;
}
.contact-button :hover{
  opacity:.3;
}

@media only screen and (max-width: 450px){
  .contact-form-box {
    width:390px;
    

  }
  }

/*Contact Page CSS*/