.FilterDropdown {
  position: relative;
  display: inline-block;
}

.FilterButton {
  background-color: #0077b6;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.FilterDropdown-content {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #f5f5f5;
  width: 300px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
}

.FilterSection {
  margin-bottom: 16px;
}

.MuiFormControl-root {
  display: block;
  margin-bottom: 8px;
}

.MuiSlider-root {
  width: 100%;
}

.ApplyButton {
  background-color: #0077b6;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
