.Sidebar{
    height:100%;
    width:250px;
    background-color: grey;
}
/*
@media (max-width: 100px), (max-height:100px) {
    .carousel {
      width:auto;
      height:auto;

    }
}
*/
.carousel {
  width:1200px;
  height:620px;
  margin: auto;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
  background-color: lightgrey;
}

/*CSS for Listings Page */