.admin-container {
    
}

@media only screen and (max-width: 768px) {
  
  /* Adjust font sizes */
  .admin-container h1 {
    font-size: 1.2rem;
  }

  .admin-container p {
    font-size: 0.9rem;
  }

  /* Adjust table layout */
  .admin-container .pb-20 {
    overflow-x: auto;
  }

  .admin-container table {
    width: 100%;
    min-width: 100%; /* Ensure table fits within the viewport */
    transform: scale(0.8); /* Scale down the table content */
    transform-origin: top left; /* Ensure scaling starts from the top left */
    
  }

  .admin-container th, .admin-container td {
    padding: 3px; /* Further reduce padding */
    padding-right: 20px;
    font-size: 1.5rem; /* Further reduce font size */
  }
}