iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  object-fit: cover;
}

@media (max-width: 768px) {
  iframe {
    transform: scale(90); /* Slight zoom to fill the screen on mobile */
  }
}
