@media screen and (max-width: 768px) {
    iframe {
      object-fit: contain; /* Contain video for smaller screens */
      object-position: center center;
      transform: scale(1.2); /* No quotes */
      width: 110%; /* Slightly increase width to cover */
      height: auto; /* Maintain aspect ratio */
    }
  }
  
  @media screen and (min-width: 769px) {
    iframe {
      object-fit: cover; /* Cover larger screens */
      transform: scale(1.12); /* No quotes */
      width: 100%;
      height: 100%;
    }
  }
  