.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .video-container iframe {
    object-fit: contain; /* Contain video for smaller screens */
    object-position: center center;
    transform: scale(1.2); /* Slight zoom */
  }
  .video-container .overlay {
    display: block; /* Show overlay to hide YouTube controls */
  }
}

@media screen and (min-width: 769px) {
  .video-container iframe {
    object-fit: cover; /* Cover larger screens */
    transform: scale(1.2); /* Slight zoom */
  }
  .video-container .overlay {
    display: none; /* Hide overlay to show YouTube controls */
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: -650px;
    width: 400%;
    height: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 950px) {
  /* For iPad Air: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: -800px;
    width: 280%;
    height: 100%;
  }
}

@media only screen and (min-height: 1300px) and (max-height: 1366px) {
  /* For iPad Pro: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: -950px;
    width: 260%;
    height: 100%;
  }
}

@media only screen and (min-height: 1023px) and (max-height: 1024px) {
  /* For Ipad Mini: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: -600px;
    width: 240%;
    height: 100%;
  }
}

@media only screen and (min-height: 719px) and (max-height: 721px) {
  /* For mobile phones: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: -500px;
    width: 250%;
    height: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  /* For PC monitors: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
  }
}


.review {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.review:hover {
  transform: scale(1.05);
}

.img-container {
  position: relative;
  width: 100%;
  height: 75%;
  overflow: hidden;
}


.person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-5);
  color: white;
  border-radius: 50%;
  transform: translateY(25%);
}

.author {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.job {
  color: var(--clr-primary-5);
  font-size: 1rem;
  text-transform: uppercase;
}

.blockquote {
  font-style: italic;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.text-right {
  text-align: right;
}

button:hover {
  background: var(--clr-primary-5);
}

/* Add this to your existing CSS file */
.short-divider {
  width: 25%; /* Adjust the width as needed */
  border-top: 1px solid white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 330%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
  }
  .carousel-arrow {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1368px) {
  /* For larger phones: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 260%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
  }
  .carousel-arrow {
    display: none !important;
  }
}
@media only screen and (min-height: 1300px) and (max-height: 1366px) {
  /* For iPads: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 260%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
  }
  .carousel-arrow {
    display: none ;
  }
}

@media only screen and (min-height: 1023px) and (max-height: 1024px) {
  /* For mobile phones: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
  }
  .carousel-arrow {
    display: none !important;
  }
}

@media only screen and (min-height: 719px) and (max-height: 721px) {
  /* For mobile phones: */
  .video-container iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
  }
  .carousel-arrow {
    display: none !important;
  }
}


.search-bar-container {
  position: relative;
  width: 100%;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.suggestion-item {
  padding: 12px 20px;
  font-size: 15px;
  color: #374151;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease, transform 0.1s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.suggestion-item:hover {
  background-color: #e5e7eb;
  color: #1f2937;
  transform: scale(1.02);
}

/*Initial testing Redo */

