* {
  font-family: "Garamond";
}
body {
  font-family: "Garamond";
  @media screen and (min-width:500px) {
    
  }
}
.login-page {
  background-color: rgb(196, 196, 196);
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: white;
  box-shadow: 0px 5px 10px 2px #888888;
  text-decoration: none;
}

button#login-page {
  border: none;
  background-color: rgb(196, 196, 196);
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 19px 20px;
  text-decoration: none;
  text-align: left;
}
button#login-page:hover {
  opacity: 0.8;
}
div#rs-btn-toolbar {
  justify-content: center;
  align-items: center;
  width: 60%;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.docs-main {
  text-align: center;
}

.add-listing {
  height: 40px;
  width: 200px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
}
.header-modal {
  border-radius: 10px;
  color: rgb(78, 78, 78);
  font-size: 20px;
  margin: 5%;
  padding: 5%;
  border: rgb(73, 73, 73) 2px solid;
}
/* Styling for the buy button */
.buy-button {
  width: 90px;
  padding: 15px;
  border: 1px solid black;
  letter-spacing: 1px;
  font-size: 100%;
  cursor: pointer;
  border-radius: 0px;
}
/* Styling for the rent button */
.rent-button {
  width: 90px;
  padding: 15px;
  border: 1px solid black;
  letter-spacing: 1px;
  font-size: 100%;
  cursor: pointer;
  border-radius: 0px;
  margin: 0 auto;
}
@media only screen and (max-width: 450px){
.sold-button {
  width: 90px;
  padding: 15px;
  border: 1px solid black;
  letter-spacing: 1px;
  font-size: 100%;
  cursor: pointer;
  border-radius: 0px;
  margin: 0 auto;
}
}

@media only screen and (max-width: 450px){
.search-box {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-bottom: 3px solid rgb(177, 177, 177);
  margin-left: 5%;
  margin: 0 auto;
}
}
.navigation-bar {
  background-color: rgb(196, 196, 196);
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: white;
  box-shadow: 0px 5px 10px 2px #888888;
  text-decoration: none;
  overflow: hidden;

}
.navigation-bar :hover {
  opacity: 0.8;
  background-color: grey;
}
.navigation-bar-right {
  font-size: 20px;
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
}
.navigation-bar-left {
  font-weight: bold;
  font-size: 20px;
  color: white;
  justify-content: space-between;
  text-decoration: none;
}
.nav-btn {
  border: none;
  background-color: rgb(196, 196, 196);
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 19px 20px;
  text-decoration: inherit;
  text-align: left;
  z-index: 3;
}
.search-box {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /*left;*/
  align-items: center;
  width: 90%;
  border-bottom: 3px solid rgb(177, 177, 177);
  margin-left: 5%;
}
.search-button-grid {
  position: relative;
  display: flex;
  grid-template-rows: auto;
}
.buy-button {
  width: 90px;
}
.rent-button {
  width: 90px;
  background-color: #686868;
}

.btn:hover {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 768px) {
  /* adjust size for smaller screens */
  .btn:hover {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  /* adjust size for even smaller screens */
  .btn:hover {
    font-size: 10px;
    padding: 6px 12px;
  }
}

.MuiOutlinedInput-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#root > div > div.home-page.MuiBox-root.css-0 > div.search-box > form > div {
  background: rgb(238, 237, 237);
}
#root > div > div.home-page.MuiBox-root.css-0 > div.search-box > form > button {
  background-color: black;
  color: white;
}

/* phones */
@media (max-width: 400px) {
  .navigation-bar {
    flex-direction: column;
    height: auto;
    width:auto;
  }
  .navigation-bar-left {
    margin-bottom: 10px;
    flex-direction: column;
    height: auto;
  }
  .navigation-bar-right {
    margin-top: 10px;
    flex-direction: column;
    height: auto;
  }

  .nav-btn {
    padding: 10px 16px;
  }
 
    .search-box {
      display:flex;
      justify-content:center;
      align-items:center;
     /* height: 200px;
      width: 200%;*/
      font-size: 14px; 
   
    }
    .searchStyle {
      font-size: 30px;
      width: 100%;
    }

    .MuiOutlinedInput-root {
      width: 100%;
    }
    
 #logo {
    width: 100%;
    height: auto;
  }
  #logo2{
    width:300px;
    height:auto;
  }
  .search-input {
    width: 350px;
    margin-bottom: 10px;
    margin-left:25px;
    margin-right:-35px;
  }
}

/* For screens between 576px and 768px wide/tablets */
@media screen and (min-width: 400px) and (max-width: 768px) {
  .navigation-bar {
    flex-direction: column;
    height: auto;
    width:auto;
  }
  .navigation-bar-left {
    margin-bottom: 10px;
    flex-direction: column;
    height: auto;
  }
  .navigation-bar-right {
    margin-top: 10px;
    flex-direction: column;
    height: auto;
  }

  .search-box {
   /* height: 250px;
    width: 70% ;*/
    display:block;
    justify-content:center;
    align-items:center;
    font-size: 16px;
  }

  .searchStyle {
    font-size: 22px;
    width: 50%;
  }

  .MuiOutlinedInput-root {
    width: 4000px;
  }
  #logo {
    max-width: 100%;
    height: auto;
  }
  #logo2{
    width:50%;
    height:auto;
  }
}


/* For screens between 768px and 1024px wide/ laptops */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .navigation-bar {
    height: 50px;
  }
  .search-box {
    justify-content:center;
    align-items:center;
    height: 250px;
    width: 100%;
    font-size: 50px;
  }
  .searchStyle {
    font-size: 50px;
    width: 50%;
  }

  .MuiOutlinedInput-root {
    width: 70%;
  }
  #logo {
    width: 70%;
    height: auto;
  }
  #logo2{
    width:50%;
    height:auto;
  }
}
 

/* For screens wider than 1024px/ extra large desktops */
@media  screen and (min-width: 1024px) {
  .navigation-bar {
    height: 60px;
  }
  .searchStyle {
    font-size: 25px;
    width: 300px;
  }

  .MuiOutlinedInput-root {
    width: 800px;
  }
  .search-box {
    justify-content:center;
    align-items:center;
   /* height: 200%;
    width: 25%;*/
    font-size: 22px;
    width:3000px;
  }
  .searchStyle {
    font-size: 23px;
    width: 400px;
    text-align:center;
  }
  .search-input {
    width: 550px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:25px;
    margin-right:-70px;
  }
#logo {
  width: 30%;
  height: auto;
}
#logo2{
  width:30%;
  height:auto;
}
  .search-icon {
    padding-right: 140px;
    padding-bottom: 10px;
    filter: grayscale(100%);
  }
  
}



/*CSS for App.js 
The CSS sets default font-family to "Garamond",
sets styles for the "login-page" class,
sets styles for a button with the ID "login-page",
sets styles for a "rs-btn-toolbar" division, 
sets an animation for the "animate" class, sets styles for different screen sizes,
sets styles for a "header-modal", 
sets styles for "buy-button", 
"rent-button", 
"sold-button",
sets a "search-box" style,
and sets styles for a "navigation-bar".
*/
